---
import '@fontsource/nunito'

export interface Props {
    title: string
    description: string
}

const { generator, site } = Astro
const { title, description } = Astro.props
const image = new URL('/images/social.png', site)
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:url" content={site} />
        <meta name="twitter:card" content="summary_large_image" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/manifest.json" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#10b981" />
        <meta name="msapplication-TileColor" content="#10b981" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    @tailwind base;
    @tailwind components;
    @layer base {
        html {
            @apply bg-neutral-50 scroll-smooth;
        }
        a {
            @apply text-purple-700 font-bold;
        }
        h1 {
            @apply text-4xl sm:text-5xl font-bold;
        }
        h2 {
            @apply text-3xl sm:text-4xl font-bold;
        }
        h3 {
            @apply text-2xl sm:text-3xl font-bold;
        }
    }
    @layer components {
        .btn {
            @apply inline-block px-4 py-2 bg-primary-500 hover:bg-primary-600 duration-300 rounded-2xl text-neutral-50 text-lg font-normal;
        }
        .contained {
            @apply container mx-auto px-4;
        }
        .fade-in {
            @apply opacity-50 translate-y-1/2;
        }
    }
</style>
